.button {
    position: absolute;
    right: 16%; /* Ajuste conforme necessário */
    bottom: 20px; /* Ajuste conforme necessário */
    background-color: transparent; /* Ajuste conforme necessário */
    border: none; /* Ajuste conforme necessário */
    border-radius: 100%; /* Ajuste conforme necessário */
    cursor: pointer;
    padding: 10px; /* Ajuste conforme necessário */
}

.button:hover {
    background-color: #262626;
    border-radius: 100%;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}