.buttonAdd {
    position: absolute;
    right: 16%;
    bottom: 20px;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    padding: 10px;
}

.buttonAdd:hover {
    background-color: #262626;
    border-radius: 100%;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.button {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #666;
    color: #000;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #d0d0d0;
}

.active {
    background-color: #d0d0d0;
    color: #000;
}