.title {
    text-align: center;
    color: #DA6A68;
    padding: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    color: #9F9F9F;
    width: 600px;
    padding: 20px;
}

.formGroup {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.formGroup label {
    flex: 2;
    margin-right: 20px;
    font-weight: bold;
    text-align: left;
}

.formGroup input[type="text"],
.formGroup input[type="date"],
.formGroup select,
.formGroup input[type="checkbox"] {
    flex: 2;
    padding: 8px;
    border-radius: 4px;
    width: 50%;
    background-color: #000;
    color: #9F9F9F;
}

.submitButton {
    padding: 8px 30px;
    background-color: #9F9F9F;
    color: #1E1E1E;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.submitButton:hover {
    background-color: #666;
}