.container {
    padding: 20px;
    background-color: #1E1E1E;
    border-radius: 8px;
}

.transaction {
    padding: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    font-size: 1.2em;
    font-weight: bold;
    color: #9F9F9F;
    flex: 1;
}

.date {
    font-size: 0.9em;
    color: #999;
    margin: 0 20px;
    white-space: nowrap;
}

.amount {
    font-size: 1.1em;
    color: #4caf50;
    text-align: right;
    flex: 1;
}

.category {
    font-size: 0.9em;
    color: #666;
    flex: 1;
}

.wallet {
    font-size: 0.8em;
    color: #999;
    text-align: right;
    flex: 1;
}