.pageContainer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.categoriesContainer {
  display: flex;
  padding: 20px;
}

.categoryList, .subcategoryList {
  flex: 1;
  margin: 0 10px;
  color: #9F9F9F;
  padding: 20px;
  background-color: #1E1E1E;
  border-radius: 8px;
}

.categoryList ul, .subcategoryList ul {
  list-style-type: none;
  padding: 10px 0 0;
}

.categoryList li, .subcategoryList li {
  padding: 5px;
  cursor: pointer;
}

.categoryList li:hover, .subcategoryList li:hover,
.categoryList .selected, .subcategoryList .selected{
  background-color: #666;
}