.form {
    display: flex;
    flex-direction: column;
    color: #9F9F9F;
    width: 400px;
    padding: 20px;
}

.formGroup {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.formGroup label {
    flex: 2;
    margin-right: 20px;
    font-weight: bold;
    text-align: left;
}

.formGroup input[type="text"],
.formGroup input[type="date"],
.formGroup input[type="number"] {
    flex: 2;
    padding: 8px;
    border-radius: 4px;
    width: 50%;
    color: #9F9F9F;
}

.submitButton {
    background-color: #9F9F9F;
    color: #1E1E1E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 20px;
    margin: 0 auto; /* Centraliza o botão */
    font-size: 1.2em;
}

.submitButton:hover {
    background-color: #2b632d;
}