.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginBox {
  background: #1E1E1E;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.title {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #9F9F9F;
}

.inputGroup {
  margin-bottom: 1rem;
}

.inputGroup label {
  display: block;
  margin-bottom: 0.5rem;
  color: #9F9F9F;
}

.inputGroup input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #9F9F9F;
  border-radius: 4px;
  background-color: #000;
}

.loginButton {
  width: 100%;
  padding: 0.75rem;
  background-color: #f2f2f2;
  color: #1E1E1E;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.loginButton:hover {
  background-color: #9F9F9F;
}

.googleButton {
  margin-top: 20px;
}
